{% if customer.exp_date is defined %}
  <div class="row mb-1">
    <div class="col-4 text-right">
      {{ 'Deactivation Date'|trans({}, 'Shop.Forms.Labels') }}
    </div>
    <div class="customer-company-title col-8">
      {% if customer.exp_date != "" %}
        {{ customer.exp_date }}
      {% else %}
        ∞
      {% endif %}
    </div>
  </div>
{% endif %}