{% if customer.company %} 
  <div class="row mb-1">
    <div class="col-4 text-right">
      {{ 'Company'|trans({}, 'Admin.Global') }}
    </div>
    <div class="customer-company-title col-8">
      {{ customer.company }}
    </div>
  </div>
{% endif %}